<div>
  <mat-card class="mt-3">
    <form [formGroup]="toDoForm">
      <mat-form-field appearance="outline">
        <mat-label>Task name</mat-label>
        <input formControlName="description" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <button *ngIf="!isEditEnable" mat-raised-button color="primary" class="btn-add-task" (click)="create()">Add</button>
      <button *ngIf="isEditEnable" mat-raised-button color="primary" class="btn-update-task" (click)="updateTask()">Update</button>
    </form>
  </mat-card>
</div>
