<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="height: 93vh; background: #FAFAFA;">
      <app-create-edit-task (createTask)="createTask($event)" (updateExistingTask)="updateTask($event)" [editTask]="currentEditTask"></app-create-edit-task>
    </div>
    <div class="col-md-9">
      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-4 container">
            <h2 class="header-title" style="text-transform: uppercase;">To do<span *ngIf="toDo.length > 0"> ({{toDo.length}})</span></h2>
            <div class="box"
              cdkDropList
              [cdkDropListData]="toDo"
              class="list"
              (cdkDropListDropped)="drop($event)">
              <div *ngFor="let currentTask of toDo; let i = index" cdkDrag>
                <app-task [task]="currentTask" (delete)="deleteTask(currentTask.id)" (editTask)="edit($event)"></app-task>
              </div>
            </div>
          </div>
          <div class="col-md-4 container">
            <h2 class="header-title" style="text-transform: uppercase;">In progress<span *ngIf="inProgress.length > 0"> ({{inProgress.length}})</span></h2>
            <div
              cdkDropList
              [cdkDropListData]="inProgress"
              class="list"
              (cdkDropListDropped)="drop($event)">
              <div *ngFor="let currentTask of inProgress; let i = index" cdkDrag>
                <app-task [task]="currentTask" (delete)="deleteTask(currentTask.id)" (editTask)="edit($event)"></app-task>
              </div>
            </div>
          </div>
          <div class="col-md-4 container">
            <h2 class="header-title" style="text-transform: uppercase;">Done<span *ngIf="done.length > 0"> ({{done.length}})</span></h2>
            <div
              cdkDropList
              [cdkDropListData]="done"
              class="list"
              (cdkDropListDropped)="drop($event)">
              <div *ngFor="let currentTask of done; let i = index" cdkDrag>
                <app-task [task]="currentTask" (delete)="deleteTask(currentTask.id)" (editTask)="edit($event)" [isDone]="true"></app-task>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
