:host mat-form-field {
  width: 100%;
}

body {
  font-size: 1.125rem;
}

mat-form-field {
  margin-top: 10px;
}

.header-title {
  margin: 0;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  background-color: lightgrey;
  span {
    font-weight: normal;
  }
}

.container {
  margin-top: 15px;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  display: block;
}

.box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.btn-box {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.btn-add-task {
  margin: 5px 10px 10px;
}

.btn-update-task {
  margin: 5px 10px 10px;
}
